@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: poppins, sans-serif;
}
:root {
  --slide-duration: 10s;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;

@layer base {
  .sliding-text {
    position: relative;
    transform: skewY(3to left bottom) translateY(-200px) translateX(-500px);
    font-weight: 700;
  }
  .sliding-text h2 {
    pointer-events: none;
    line-height: 1em;
    white-space: nowrap;
  }
  .slide-right {
    animation: slide-right 50s linear infinite alternate;
  }
  .slide-left {
    animation: slide-left 50s linear infinite alternate;
  }
  .bg-outline span {
    -webkit-text-stroke: 2px #2563eb;
    color: transparent;
  }
  .animated-bg {
    background: linear-gradient(
      to left bottom,
      #2563eb,
      #2938d8,
      #1656bd,
      #2563eb
    );
    width: 100vw;
    transform: translateX(100%);
    animation: animated-background 1s 1;
    transform: translateX(0%);
  }
  @keyframes animated-background {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(500px);
    }
  }
  @keyframes slide-left {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-500px);
    }
  }

  .heading {
    @apply text-2xl font-bold text-blue-600 text-center my-4 sm:text-3xl;
  }
  .desc {
    @apply text-sm text-left my-4 sm:text-base;
  }
  .desc h3 {
    @apply text-base font-semibold my-1 sm:text-lg;
  }
  .section {
    @apply p-5 sm:p-10 lg:px-12 py-8;
  }
  .btn-primary {
    @apply bg-blue-600 text-white text-center rounded-md px-5 py-2 hover:shadow-lg;
  }
  .hero {
    height: calc(100vh - 9.5em);
    min-height: 30em;
    max-height: 40em;
  }
  .mantine-List-item {
    @apply my-0.5 md:my-1 lg:my-1.5;
  }
  @media only screen and (min-width: 1024px) {
    .hero {
      height: 90vh;
    }
  }
  .card-title {
    font-weight: 600 !important;
    font-size: 1.12rem;
    letter-spacing: 0.05em !important;
  }
  .card-wrapper {
    width: 340;
    margin: "auto";
  }
  /* @media only screen and (min-width: 640px) {
    .card-wrapper {

    }
  } */
  @media only screen and (min-width: 640px) {
    .card-wrapper {
      width: auto;
      margin: 0;
    }
  }
  @media only screen and (min-width: 820px) {
    .card-wrapper {
      height: max-content;
    }
  }
  .slider {
    animation: bounce 3s infinite;
  }
  .slider-wrapper {
    height: 46px;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@tailwind utilities;
