@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  font-family: poppins, sans-serif;
}
:root {
  --slide-duration: 10s;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;

@layer base {
  .sliding-text {
    position: relative;
    transform: skewY(345deg) translateY(-200px) translateX(-200px);
    font-weight: 700;
  }
  .sliding-text h2 {
    pointer-events: none;
    line-height: 1em;
    white-space: nowrap;
  }
  .slide-right {
    animation: slide-right 30s linear infinite alternate;
  }
  .slide-left {
    animation: slide-left 30s linear infinite alternate;
  }
  .bg-outline span {
    -webkit-text-stroke: 2px rgb(37 99 235);
    color: transparent;
  }
  @keyframes slide-right {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(200px);
    }
  }
  @keyframes slide-left {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(-200px);
    }
  }

  .heading {
    @apply text-2xl font-bold text-blue-600 text-center my-4 sm:text-3xl;
  }
  .desc {
    @apply text-sm text-center my-2 sm:text-base;
  }
  .section {
    @apply p-5 sm:p-10 lg:px-12 py-8;
  }
  .btn-primary {
    @apply bg-blue-600 text-white text-center rounded-md px-5 py-2 hover:shadow-lg;
  }
  .hero {
    height: calc(100vh - 12em);
    min-height: 28em;
  }
  .mantine-List-item {
    @apply my-0.5 md:my-1 lg:my-1.5;
  }
  @media only screen and (min-width: 1024px) {
    .hero {
      height: 90vh;
    }
  }
}

@tailwind utilities;
